<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur The Gossip Project!</h1>
    <h2> Les gossips arrivent bientôt, crée dès maintenant un nouveau gossip :)</h2>
    <a href="/gossips/new/">Nouveau Gossip !</a>
    <ul>
    <% gossips.each_with_index do |gossip, i| %>
    
        <li><a href="/gossips/<%= i %>"><p>
        <%= gossip.author %><br/>
        <%= gossip.content %><br/>
        <%= i %></a>
        <% end %> </li>
      </p>

  </body>
</html>